body{
	background-color: #6d636342;
	color: $color-textosecundario;
}

.lupa:hover {
	transform: scale(1.1);
}
#header{
	background-color: $color-fondosecundario;
	color: $color-textosecundario;
	a{
		text-decoration: none;
		color: $color-textosecundario;
		font-size: 1.5rem;
	}
}

@mixin banner($mi-ancho){
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	min-height: $mi-ancho;
	background-image: url('../media/paisaje.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 60px;
	padding: 0 20px;
	color: #fff;
}

.banner {
	@include banner(150px);
}
#footer1{
	text-align: center;
	background-color: $color-fondosecundario;
	color: $color-textosecundario;
	min-height: 100px;
	span{
		text-decoration: none;
		color: $color-textosecundario;
		font-size: 1.5rem;
	}
}
.destacado{
	text-align: center;
	font-size: 3rem;
}
@mixin boton{
	border: 0;
	font-size: 1.2rem;
	padding: .25em .5em;
	background-color: $color-fondosecundario;
	color: $color-textosecundario;
}
.botonesEspeciales{
	button {
 	@include boton;
	}
 }
.contenedorEspecial.card{
		text-align: center;
		display: center;
		background-color: $color-fondosecundario;
}
.contenedorEspecial{
	a {
		@include boton;
	}
}
 
 .ubicacionWhatsapp {
    cursor: pointer;
    margin-right: 25px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: visible;
    border: none;
}
.ubicacionWhatsapp:hover {
	transform: scale(1.1);
 }

