$color-fondo: #b90a3e;
$color-fondosecundario: #b90a3e;
$color-texto: #ffff;
$color-textosecundario: #000000;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
$font:'Oswald', sans-serif;
$font-light:300;
$font-regular:400;
$font-bold:700;